.btn{
    background: 0;
    border: 0;
}
.fi{
    font-size: 2rem;
    cursor: pointer;
    color: #54994E;

}

.contenedor{
    
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
    margin-bottom: 40vh;
}

/*Estilos a la tabla*/
table.unstyledTable {
    width: fit-content;
    text-align: center;
    border-collapse: collapse;
    background-color: #FFFFFF;
  }
  table.unstyledTable td, table.unstyledTable th {

    padding: 6px 1.8rem;
  }
  table.unstyledTable thead {
    background: #54994E;
  }
  table.unstyledTable thead th {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
  }
  #svg_1{
    width: 50px;
  }

.botones{
  display: flex;
  width: 100%;
  margin: 2rem 0;
  justify-content: space-between;
}

path{
  fill:#da0037 !important;
  cursor: pointer;
}
.btn_opcion{
  padding: 0.5rem 1rem; 
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 1.2rem;
 
}
.vaciar{
  background-color: #da0037;
  cursor: pointer;
}
.comprar{
  background-color: #54994E;
  cursor: pointer;
}
.vaciar:hover{
  background-color: hsl(345, 98%, 46%);
  
}
.comprar:hover{
  background-color: hsl(115, 34%, 52%);
  
}
.tabla{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

td{
  color: black;
  font-weight: 500;
}
h3{
  font-size: x-large;
}
h1{
  margin: 1rem 0;
}
#total{
  letter-spacing: 50px;
}
#asterisco{
  color: #da0037;
}

.iva{
  font-size: 16px;
}