.titulo-nosotros{grid-area: nosotros;}
.item-historia{grid-area: item-h;}
.item-img1{grid-area: item-img1;}
.item-img2{grid-area: item-img2;}
.item-valores{grid-area: item-v;}

.contenedor-nosotros{
  margin-top: 7.5rem;
  width: 100%;
  padding: auto;
  height: auto;
}

.item-img1{
  background-color: #fff;
}

.contenedor-img{
  width: 100%;
}

.cont-img{
  width: 85%;
}

.contenedor-grid{
  width: 100%;
  padding: 1rem;
  height: auto;
  display: grid;
  grid-template-areas: 
  'item-img1 item-img1 item-img1 item-h item-h'
  'item-img2 item-img2 item-img2 item-img2 item-img2';
  text-align: center;
}

.titulo-nosotros{
  width: 100%;
  margin-bottom: 1rem;
}

.titulo-historia{
  font-family: 'Montserrat', sans-serif;
}

.item-historia, .item-valores{
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.parrafo{
  width: 100%;
  text-align: justify;
  padding: 2rem;
}

.img1{
  width: 100%;
  height: 100%;
}

.desc-titule{
  font-size: 6vh;
  margin-top: 2rem;
  
}

.descripcion{
font-family: "Montserrat";
  font-size: 2.5vh;
  padding: 0 1rem;
}

.desc-producto{
  font-family: "Montserrat";
  font-size: 2.5vh;
  text-align: justify;
  padding: 0 1rem;
}

.desc-precio{
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 3vh;
  padding: 0 1rem;
}

.bnt-añadir {
 color: #ffffff;
 padding: 0.7em 1.7em;
 font-size: 18px;
 border-radius: 0.5em;
 background: #0b7a18;
 border: 1px solid #e8e8e8;
 transition: all .1s;
 box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.bnt-añadir:active {
  transform: translateY(5px);
  
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}


