@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #E9E3D6;
  font-family: 'Montserrat';

}

.menu{
position: fixed;
z-index: 200;
min-height: 7.5rem;
text-align: center;
word-wrap: break-word;
  background-color: #386641;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu_titulo{
  color: white;
}
.shope{
  width: 160px;
  height: 160px;
}

.menu_pestañas{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.menu_pestañas ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: relative;
}
.menu_pestañas li {
    display: inline-block;
    padding: 10px;
}

.menu_pestañas ul li a {
  text-decoration: none;
  color: #E9E3D6;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.menu_pestañasv ul li a:hover::before {
  width: 100%;
}

.hola{
    display: none;
}

.contenedor-footer{
  background-color: #386641;
  padding: 2rem  1rem 1rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-footer{
  width: 6rem;
  height: 4rem;
  
}

.contenedor-frase{
  margin-top: .5rem;
  color: #fff;
  font-size: 1.2rem;
}

.sociales{
  display: flex;
  flex-direction: column;
}


.contenedor-sociales{
  display: flex;
  flex-direction: column;
}


.menu_logo{
  width: 8%;
  height: 8%;
  padding: 10px;
}

.contenedor-titulo{
  color: #fff;
}

.contenedor-logo-frase{
  padding-top: 2.5rem;
}

.contenedor-contacto{
  display: flex;
  flex-direction: column;
}


.contenedor-logo-frase, .contenedor-sociales, .contenedor-contacto{
  width: 100%;
}

.p-contacto{
  color: #fff;
  text-align: justify;
  margin: 1.06rem 0;
}

footer{
  margin-top: 4rem;
}